<!DOCTYPE html>
<html lang="en" data-bs-theme="dark">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/styles/main.css">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-QWTKZyjpPEjISv5WaRU9OFeRpok6YctnYmDr5pNlyT2bRjXh0JMhjY6hW+ALEwIH" crossorigin="anonymous">
    <title>Document</title>
</head>
<body>
    <%- include("partials/headerAbout.ejs") %>
    <div class="container">    

        <div class="row featurette">
                <div class="col-md-7 order-md-2 mt-10 ">
                  <h2 class="featurette-heading fw-normal lh-1 " style="margin-top: 60px ;">Hello! I'am Rendel Lipana, a Programmer.</h2>
                  <p class="lead">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nam sem justo, porta nec vulputate in, porta sit amet libero. Curabitur vehicula dictum scelerisque. Etiam eleifend eget velit quis lobortis. Curabitur mollis, arcu at rutrum dictum, velit dolor blandit massa, dapibus varius felis dolor vel libero. Suspendisse nec mollis massa. Suspendisse in tempus ipsum, euismod aliquam quam. Phasellus eu est at velit mattis tincidunt. Sed mauris lectus, hendrerit a tortor nec, placerat commodo risus. Donec eu sem neque. Proin aliquam tellus nec est lobortis dignissim. Curabitur posuere nulla sit amet lorem aliquam convallis.</p>
                </div>
                <div class="col-md-5 order-md-1">
                  <img src="/img/aboutme.png" height="450" width="450" alt="about me">
                </div>
              
          </div>

    </div>

    <%- include("partials/footer.ejs") %>
</body>
</html>